// accessibility specific css classes to help with accessible styling

// hide element from screen but remain accessible to screen reader users
.sr-only 
    position absolute 
    width 1px 
    height 1px 
    padding 0 
    margin -1px
    overflow hidden 
    clip rect(0, 0, 0, 0)
    white-space no-wrap 
    border 0