// -------------------
// font loading
// -------------------

fontify($canela, $canela-hash, $serif-hed-fb)
fontify($publico, $publico-hash, $serif-fb)
fontify($atlas, $atlas-hash, $sans-fb)

set-type-class(all, true)
