// -------------------
// font loading
// -------------------

fontify($canela, $canela-hash, $serif)
fontify($publico, $publico-hash, $serif)
fontify($atlas, $atlas-hash, $sans)

set-type-class(all, true)
