$logo-w = (360px / 2)
$logo-h = (70px / 2)

header 
	position relative
	z-index set-index('overlay')
	width $logo-w
	margin 0 auto
	a.logo
		padding 1rem
		clearfix()
		border-bottom none
		display inline-block
		.logo__text
			text-transform uppercase
			color $off-black
			display inline-block
			width 100%
			margin 0
			padding 0
			font-size 0.9rem
			font-weight 400
			letter-spacing 0.05em
			display none
		svg 
			width $logo-w
			height $logo-h
			fill $off-black
			display block
			margin 0 auto