$logo-size = 42px

header 
	position absolute
	top 1em
	left 1em
	text-align center
	z-index set-index('overlay')
	a.logo
		clearfix()
		border-bottom none
		display block
		.logo__text
			text-transform uppercase
			color white
			display inline-block
			float left
			text-align left
			line-height 1
			margin 0
			padding 0
			line-height $logo-size
			font-size 14px
			margin-left 14px
		.logo__svg 
			width $logo-size
			height $logo-size
			fill white
			float left
