// -------------------
// Layouts
// -------------------

// Setting root sizes and base styles.

body
	font-feature-settings 'kern' 1, 'onum' 1, 'liga' 0, 'tnum' 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-tap-highlight-color rgba(0,0,0,0)
	background-color #fff
	color $off-black
	font-size $root-size
p 
	margin-top 1.5rem
	margin-bottom 1.5rem

a
	text-decoration none
	border-bottom 2px solid $primary
	color $off-black

	&:visited, &:hover
		color $off-black


strong, b
	font-weight bold

em, i
	font-style italic
	
ul
	list-style-type none

img, video
	display block
	width 100%

button
	cursor pointer
	border none
	outline none
	margin 0
	padding 0
	font-size 1rem

sub, sup
	font-size 0.75rem
	line-height 0
	position relative
	vertical-align baseline

sup
	top -0.5em

sub
	bottom -0.25em
	
// Various hides
.hide-accessible
	hidden(accessible)
.hide-invisible
	hidden(invisible)
.hide-display
	hidden()
	
// Skip to main for accessibility
.skip-to-main
	hidden(accessible)
	&:focus 
		width auto
		height auto
		background-color #efefef
		padding 0.5em
		z-index 1