// -------------------
// Layouts
// -------------------

// Setting root sizes and base styles.
html
	text-size-adjust 100%

body
	font-feature-settings 'kern' 1, 'onum' 1, 'liga' 1
		
nav ul
	list-style none

img, video
	display block
	width 100%

button
	cursor pointer

// Various hides
.hide-accessible
	hidden(accessible)
.hide-invisible
	hidden(invisible)
.hide-display
	hidden()
