// Various hides
.hide-accessible
	hidden(accessible)
.hide-invisible
	hidden(invisible)
.hide-display
	hidden()
	
// Skip to main for accessibility
.skip-to-main
	hidden(accessible)
	&:focus 
		width auto
		height auto
		background-color #efefef
		padding 0.5em
		z-index 1