// Various hides
.hide-accessible
	hidden(accessible)
.hide-invisible
	hidden(invisible)
.hide-display
	hidden()
	
// Skip to main for accessibility
.skip-to-main
	border none
	hidden(accessible)
	&:focus 
		width auto
		height auto
		background-color #efefef
		padding 0.5em
		z-index 1

.prose
	max-width 40rem
	margin 0 auto
	padding 0 1rem
	&__hed
		font-weight 500