// -------------------
// Unicode characters
// -------------------

//space
$u-space = '\0020'
//non-breaking space
$u-nbsp = '\00A0'

// quotation mark
$u-quote = '\0022'
// left single smart quote
$u-lsquo = '\2018'
// right single smart quote
$u-rsquo = '\2019'
// left double smart quote
$u-ldquo = '\201C'
// right double smart quote
$u-rdquo = '\201D'
// left single angle quote (guillemet)
$u-lsaquo = '\2039'
// right single angle quote (guillemet)
$u-lsaquo = '\203A'
// left double angle quote (guillemet)
$u-lsaquo = '\00ab'
// right double angle quote (guillemet)
$u-lsaquo = '\00bb'

// em dash (mutton)
$u-mdash = '\2014'
// en dash (nut)
$u-ndash = '\2013'
// hyphen
$u-hyphen = '\2010'

// ampersand
$u-amp = '\0026'
// greater than
$u-greater = '\003E'
// less than
$u-less = '\003C'
// multiply/times
$u-multiply = '\003C'
// big multiply/times
$u-bigmultiply = '\2715'
// plus
$u-plus = '\2795'
// minus
$u-plus = '\2796'
// checkmark
$u-check = '\2714'

// left arrow
$u-larrow = '\2190'
// right arrow
$u-rarrow = '\2192'
// up arrow
$u-rarrow = '\2191'
// down arrow
$u-rarrow = '\2193'
// heavy right arrow
$u-heavyarrow = '\279C'
// right swoop arrow
$u-swooparrow = '\2935'
// refresh arrow
$u-refresh = '\21BA'

// right triangle
$u-rtri = '\25B8'
// down triangle
$u-dtri = '\25BE'