// -------------------
// Breakpoints
// -------------------
$mq_vars = {
    bp-1: '(min-width: 25em)'
    bp-2: '(min-width: 40em)'
    bp-3: '(min-width: 50em)'
    bp-4: '(min-width: 60em)'
}

// -------------------
// Typefaces
// -------------------
$sans = Helvetica, Arial, sans-serif
$sans-cond = Impact, Arial Narrow, Helvetica, sans-serif
$serif = Georgia, Times, serif

$canela = 'Canela Web'
$canela-hash = 'canela'
$publico = 'Publico Text Web'
$publico-hash = 'publico'
$atlas = 'Atlas Grotesk Web'
$atlas-hash = 'atlas'


// z-index
$z-index = {
    bottom: -100
    middle: 0
    top: 100
    overlay: 3000
}

// Color
$off-black = #2a2a2a
$gray-dark = #666
$gray = #999
$gray-light = #ccc
$off-white = #efefef
