// -------------------
// Breakpoints
// -------------------
$mq_vars = {
    bp-1: '(min-width: 25em)'
    bp-2: '(min-width: 40em)'
    bp-3: '(min-width: 60em)'
}

// -------------------
// Typefaces
// -------------------
$sans = Helvetica, Arial, sans-serif
$serif = Georgia, Times, serif
