<!doctype html>
<html lang='en' data-version='{{timestamp}}'>
<head>
	{{> base/meta}}
	
	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->
	
	{{> base/font}}
	
	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}
</head>
<body class='tk-publico'>
	
	{{> base/header }}

	<main id='content'>

	</main>

	<script src='bundle.js?version={{timestamp}}'></script>
	<script src='https://pudding.cool/assets/scripts/pudding-footer.js' async></script>
</body>
</html>
