<!doctype html>
<html lang='en' data-version='{{timestamp}}'>
<head>
	{{> base/meta}}
		

	<meta property="hide-footer-recirc" content="true">
	
	<link rel='stylesheet' href='https://cloud.typography.com/7124072/6455372/css/fonts.css' />

	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->
	
	{{!-- {{> base/font}} --}}
	
	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}
</head>
<body class='tk-mercury'>
	
	{{> base/header }}

	<main>

		
	</main>

	<script src='bundle.js?version={{timestamp}}'></script>
	<script src='https://pudding.cool/assets/scripts/pudding-footer.js'></script>
</body>
</html>
