<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	<!-- boilerplate.css -->

	{{> base/font}}

	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->


</head>

<body class='tk-publico'>

	{{> base/header }}

	<main id='content'>
		<h1 class='tk-canela hed'><strong>Style Guide</strong></h1>
		<p>Welcome to The Pudding style guide. Use this as a reference to structure your HTML and CSS, and follow our best practices.</p>

		<section id='usage'>
			<h2 class='prose__hed tk-canela'>
				<mark>Usage</mark>
			</h2>
			<p>Everything you need is already included in your new project template. Simply follow these guidelines and use the proper
				CSS classes outlined and you should be good to go.</p>
		</section>

		<section id='typography'>
			<h2 class='prose__hed tk-canela'>
				<mark>Typography</mark>
			</h2>
			<h3 class='prose__hed tk-canela'>
				<mark>Fonts</mark>
			</h3>
			<p>
				Fonts are loaded async and use the <a href='https://www.zachleat.com/web/comprehensive-webfonts/#fout-class' target='_blank'>FOUT</a>				practice. We have three font families:</p>
			<ul>
				<li><span class='large tk-canela'>Canela:</span> (class name: <em>tk-canela</em>)</li>
				<li><span class='large tk-publico'>Publico:</span> (class name: <em>tk-publico</em>)</li>
				<li><span class='large tk-atlas'>Atlas Grotesk:</span> (class name: <em>tk-atlas</em>)</li>
			</ul>
			<p>
				Simply include the class on the element, and all children will inherit it. Publico is included on the body tag by default.
			</p>
			<div class='example'>
				<pre><code>&lt;p class='tk-atlas'&gt;Test&lt;/p&gt;</code></pre>
			</div>

			<p>Use the <em>font-weight</em> CSS property to set the weight.</p>
			<ul>
				<li><strong>Canela:</strong> 300, 700</li>
				<li><strong>Publico:</strong> 400, 700</li>
				<li><strong>Atlas:</strong> 400, 500, 600</li>
			</ul>
			<h3 class='prose__hed tk-canela'>
				<mark>Headings</mark>
			</h3>
			<p>The following are the default sizes of the headings h1, h2, etc.</p>
			<div class='example'>
				<h1><strong>h1 heading example</strong></h1>
				<h2><strong>h2 heading example</strong></h2>
				<h3><strong>h3 heading example</strong></h3>
				<h4><strong>h4 heading example</strong></h4>
				<h5><strong>h5 heading example</strong></h5>
				<h6><strong>h6 heading example</strong></h6>
			</div>
			<h3 class='prose__hed tk-canela'>
				<mark>Font size classes</mark>
			</h3>
			<p>Use the following convenience classes to size your text. They apply both <em>font-size</em> and <em>line-height</em>,
				so you may have to tweak depending on your needs.</p>
			<div class='example'>
				<p class='xxx-small'>.xxx-small (10px)</p>
				<p class='xx-small'>.xx-small (11px)</p>
				<p class='x-small'>.x-small (12px)</p>
				<p class='small'>.small (14px)</p>
				<p class='root'>.root (16px)</p>
				<p class='medium'>.medium (17px - default)</p>
				<p class='large'>.large (24px)</p>
				<p class='x-large'>.x-large (32px)</p>
				<p class='xx-large'>.xx-large (40px)</p>
				<p class='xxx-large'>.xxx-large (48px)</p>
				<p class='xxxx-large'>.xxxx-large (64px)</p>
			</div>
		</section>

		<section id='prose'>
			<h2 class='prose__hed tk-canela'>
				<mark>Prose</mark>
			</h2>
			<p>Below is a typical setup for any prose sections with proper defaults to optimize for readibility.</p>
			<div class='example'>
				<div class='prose'>
					<h2 class='prose__hed tk-canela'>Title goes here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
						irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
						cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>

			<div class='example'>
				<pre><code>&lt;div class='prose'&gt;
	&lt;h3 class='prose__hed tk-canela'&gt;Title goes here&lt;/h3&gt;
	&lt;p&gt;Lorem ipsum dolor...&lt;/p&gt;
	&lt;p&gt;Ut enim ad minim veniam...&lt;/p&gt;
&lt;div&gt;
</code></pre>
			</div>
		</section>

		<section id='graphic'>
			<h2 class='prose__hed tk-canela'>
				<mark>Graphic</mark>
			</h2>
			<p>Below is a dummy graphic with a lot of typical components and their default style.</p>
			<div class='example'>
				<div class='graphic'>
					<h3 class='graphic__hed tk-atlas'>Title goes here</h3>
					<h5 class='graphic__dek tk-atlas'>Optional description of graphic goes here.</h5>
					<ul class='graphic__key tk-atlas'>
						<li class='x-small'><strong>These</strong></li>
						<li class='x-small'><strong>Are</strong></li>
						<li class='x-small'><strong>Keys</strong></li>
					</ul>
					<div class='graphic__chart tk-atlas'>
					</div>
					<div>
					</div>
		</section>

		<section id='colors'>
			<h2 class='prose__hed tk-canela'>
				<mark>Colors</mark>
			</h2>
		</section>

		<section id='breakpoints'>
			<h2 class='prose__hed tk-canela'>
				<mark>Breakpoints</mark>
			</h2>
		</section>

		<section id='tables'>
			<h2 class='prose__hed tk-canela'>
				<mark>Tables</mark>
			</h2>
		</section>

		<section id='buttons'>
			<h2 class='prose__hed tk-canela'>
				<mark>Buttons</mark>
			</h2>
		</section>

		<section id='helpers'>
			<h2 class='prose__hed tk-canela'>
				<mark>Helpers</mark>
			</h2>
		</section>

	</main>
</body>

</html>