.intro {
  margin: 0 auto;
  padding: 4rem 1rem 1.5rem 1rem;
}

.intro__hed {
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 5rem;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
}

.intro__byline {
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.intro__dek {
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
}

@media only screen and (min-width: 40em) {
  .intro__hed {
    font-size: 48px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 50em) {
  .intro__hed {
    font-size: 64px;
    line-height: 1.2;
  }
}
