footer.pudding-footer
	padding 3rem 1rem
	border-top 4px solid $black
	font-family $sans
	margin-top 3rem

	.footer-recirc
		max-width 65rem
		margin 0 auto
		&__articles
			display flex
			flex-wrap wrap
			justify-content space-between

		&__article
			display block
			width 100%
			border none
			margin-bottom 2rem
			+mq('bp-5')
				width calc(25% - 1.5rem)
				margin-right 1.5rem
				&:last-of-type
					margin-right 0

		.article__headline
			font-family $sans-display
			set-type-size(large, false)
			line-height 1
			font-weight 700
			padding-left 0.5rem
			// padding-top 1rem

	.footer-company
		margin 0 auto
		margin-top 3rem
		max-width 65rem
		display flex
		flex-direction column
		font-family $sans-display
		+mq('bp-5')
			flex-direction row

		&__cta
			order 1
			margin 2rem 0 0 0
			width 100%
			+mq('bp-5')
				width 22rem
				margin 0 0 0 2rem

		&__cta-list
			display flex
			flex-wrap wrap
			flex-direction column
			height 12rem
			+mq('bp-5')
				flex-direction column

			li
				display flex
				width 50%
				margin-bottom 1rem
				align-items center
				+mq('bp-5')
					padding-left 1rem

				a
					display flex
					border none

				p
					font-family $sans-display
					margin 0
					padding-left 0.5rem
					padding-top 0.1rem
					line-height 1
					color $gray
					+mq('bp-4')
						set-type-size(large)

				svg
					fill $gray
					stroke none
					vertical-align middle
					circle, polyline, line
						fill none
						stroke $gray
				.feather-mail path, .feather-lock path, .feather-rss path
						stroke $gray
						fill none

		&__about
			order 0
			width 100%
			color $gray
			display flex
			flex-direction column
			+mq('bp-5')
				width calc(100% - 24rem)

			p
				margin 0
				set-type-size(root, false)
				line-height 1.4
			svg
				width 12rem
				margin-bottom 0.5rem
