$logo-w = (360px / 2)
$logo-h = (70px / 2)

header
	z-index set-index('overlay')
	width $logo-w
	margin 0 auto

	a.logo
		display block
		padding 1rem
		border none

		svg 
			width $logo-w
			height $logo-h
			fill $off-black
			display block