.intro
	margin 5rem auto
	
	&__hed
		max-width 55rem
		margin 0 auto 4rem auto
		padding 0 1rem
		text-align center
		set-type-size('x-large', true)
		+mq('bp-2')
			set-type-size('xx-large', true)
		+mq('bp-3')
			set-type-size('xxx-large', true)
	
	&__byline
		set-type-size('small', true)
		text-align center
		margin-bottom 1rem
		padding 0 1rem
		
	&__dek
		max-width 25rem
		margin 0 auto
		padding 0 1rem
		set-type-size('medium', true)