.intro
	margin 0 auto
	padding 4rem 1rem 1.5rem 1rem

	&__hed
		max-width 60rem
		margin 0 auto
		padding-top 5rem
		text-align center
	
	&__byline
		max-width $column-width
		margin 0 auto
		text-align center
		
	&__dek
		max-width $column-width
		margin 0 auto
		text-align center