.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		
	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
