html
	font-size 18px

body
	background-color #fff
	color $off-black

p 
	line-height 1.8
	
a
	text-decoration none
	border-bottom 2px solid $primary
	color $off-black
	&:visited, &:hover
		color $off-black