<div class='company'>
	<div class='company__wrapper'>
		<div class='company__left'>
			<p class='company__description'><a href='https://polygraph.cool'>Polygraph</a> is a publication for visually driven essays. Each project is one month of an author’s life spent researching, analyzing, and coding a culturally-rich topic. The output: an interactive experience that seeks to advance public discourse in a way that a prose-driven long-read never could. RIP TL;DR.</p>
			<p class='company__description'>Reach out: sup@polygraph.cool or <a href='http://twitter.com/polygraphing'>@polygraphing</a>.</p>
		</div>
		<div class='company__right'>
			<ul class='company__contact'>
				<li>
					<a href='http://poly-graph.co/about.html' class='mobile-company-two-link'>ABOUT
					</a>
				</li>
				<li>
					<a href='http://poly-graph.co/about.html' class='mobile-company-two-link'>STUDIO</a>
				</li>
				<li class='share__facebook'>
					<a href='https://www.facebook.com/polygraph.data'>
						@@include('social/facebook.svg')
					</a>
				</li>
				<li class='share__twitter'>
					<a href='http://twitter.com/polygraphing'>
						@@include('social/twitter.svg')
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>