<footer class='pudding-footer'>

	{{!-- recirc --}}
	<div class='footer-recirc'>
		<div class='footer-recirc__articles'></div>
	</div>

	{{!-- company --}}
	<div class='footer-company'>
		<div class='footer-company__cta'>
			<ul class='footer-company__cta-list'>
				<li>
					<a href='https://facebook.com/pudding.viz/'>
						<img inline src='pudding/facebook.svg'>
						<p>FACEBOOK</p>
					</a>
				</li>
				<li>
					<a href='https://twitter.com/puddingviz/'>
						<img inline src='pudding/twitter.svg'>
						<p>TWITTER</p>
					</a>
				</li>
				<li>
					<a href='https://www.instagram.com/the.pudding'>
						<img inline src='pudding/instagram.svg'>
						<p>INSTAGRAM</p>
					</a>
				</li>
				<li>
					<a href='https://patreon.com/thepudding/'>
						<img inline src='pudding/patreon.svg'>
						<p>PATREON</p>
					</a>
				</li>
				<li>
					<a href='https://pudding.cool/about'>
						<img inline src='pudding/info.svg'>
						<p>ABOUT</p>
					</a>
				</li>
				<li>
					<a href='https://pudding.cool/privacy/'>
						<img inline src='lock.svg'>
						<p>PRIVACY</p>
					</a>
				</li>
				<li>
					<a href='http://eepurl.com/czym6f'>
						<img inline src='pudding/mail.svg'>
						<p>NEWSLETTER</p>
					</a>
				</li>
				<li>
					<a href='https://pudding.cool/feed/index.xml'>
						<img inline src='rss.svg'>
						<p>RSS</p>
					</a>
				</li>
			</ul>
		</div>

		<div class='footer-company__about'>
			<img inline src='pudding/wordmark.svg'>
			<p class='footer-company__description'><a href='https://pudding.cool'>The Pudding</a> is a digital publication
				that
				explains ideas debated in culture with visual essays.</p>
			<p class='footer-company__trademark'>The Pudding<span>®</span> is made in Brooklyn, NY; Seattle, WA; San Antonio,
				TX; and Great
				Barrington, MA.</p>
		</div>

	</div>
</footer>
