<div class='newsletter'>
    <form action='http://poly-graph.us11.list-manage.com/subscribe/post' method='POST'>
        <div class='newsletter__wrapper'>
        <p class='newsletter__header'>Get the latest emailed to you</p>
            <div class='newsletter__footer'>
                <div>
                    <input type='hidden' name='u' value='c70d3c0e372cde433143ffeab'>
                    <input type='hidden' name='id' value='6efd0bc476'>
                    <input class='newsletter-input' type='email' autocapitalize='off' autocorrect='off' name='MERGE0' id='MERGE0' size='25' value placeholder='Sign up for the newsletter'>
                    <div class='hidden-from-view' style='left: -5000px; position: absolute;'>
                        <input type='text' name='b_c70d3c0e372cde433143ffeab_6efd0bc476' tabindex='-1' value>
                    </div>
                </div>
                <div>
                    <button class='newsletter__button' type='submit' name='submit'>Subscribe</button>
                </div>
            </div>
        </div>
    </form>
  </div>