<div class='header__menu tk-atlas'>
		<btn class='menu__toggle'>
				<span>@@include('menu.svg')</span>
				<span>@@include('x.svg')</span>
			</btn>
		<p class='menu__tagline'><a href='https://pudding.cool' target='_blank'>The Pudding</a> explains ideas debated in culture with visual essays.</p>
		<ul class='menu__links'>
			<li><a class='x-large' href='https://pudding.cool/#greatest' target='_blank' onclick='trackOutboundLink("https://pudding.cool/#greatest"); return false;'>Greatest Hits</a></li>
			<li><a class='x-large' href='https://pudding.cool/#new' target='_blank' onclick='trackOutboundLink("https://pudding.cool/#new"); return false;'>What’s New</a></li>
			<li><a class='x-large' href='https://pudding.cool/#all' target='_blank' onclick='trackOutboundLink("https://pudding.cool/#all"); return false;'>All Essays</a></li>
			<li><a class='' href='https://pudding.cool/about/' target='_blank' onclick='trackOutboundLink("https://pudding.cool/about"); return false;'>About</a></li>
		</ul>
</div>