<div class='header__menu tk-atlas'>
	<p class='menu__tagline'><a href='https://pudding.cool' target='_blank'>The Pudding</a> explains ideas debated in culture with visual essays.</p>
	<ul class='menu__links'>
		<li><a href='https://pudding.cool/#greatest' target='_blank' onclick='trackOutboundLink("https://pudding.cool/#greatest"); return false;'>Greatest Hits</a></li>
		<li><a href='https://pudding.cool/#new' target='_blank' onclick='trackOutboundLink("https://pudding.cool/#new"); return false;'>What’s New</a></li>
		<li><a href='https://pudding.cool/#all' target='_blank' onclick='trackOutboundLink("https://pudding.cool/#all"); return false;'>All Essays</a></li>
	</ul>
	<p class='menu__patreon'>We pour our ❤️ into these stories, but they take time and money. For just $1/month, you can help support us. Join our
	growing community of data-driven enthusiasts. <a href='https://www.patreon.com/thepudding' target='_blank' onclick='trackOutboundLink("https://www.patreon.com/thepudding"); return false;'>Help fund us</a></p>

	<p>
		<a class='' href='https://pudding.cool/about/' target='_blank' onclick='trackOutboundLink("https://pudding.cool/about"); return false;'>About</a>
	</p>
</div>
<btn class='header__toggle'>
	<span>@@include('menu.svg')</span>
	<span>@@include('x.svg')</span>
</btn>