$logo-height = 36px
$logo-width = 126px

header 
	position absolute
	top 0
	left 0
	width 100%
	padding 0 0.5em
	text-align center
	clearfix()
	.logo
		display inline-block
		height $logo-height
		color #666
		.logo__part
			display inline-block
			float left
			line-height $logo-height
			padding 0 2px
			font-size 12px
			font-weight 700
		.logo__polygraph 
			width $logo-width
			height $logo-height