@require 'utils/unicode'
@require 'utils/variables'
@require 'utils/helpers'

@require 'utils/reset'
@require 'utils/presets'
@require 'utils/font'
@require 'utils/layout'
@require 'story/*'

main 
	padding 5rem 1rem 0 1rem
	max-width $column-width
	margin 0 auto

section 
	margin 3rem 0

h1
	font-weight bold
	text-align center

h2, h3
	font-weight bold



// Combine media queries (Don't remove)
apply_mq_cache()