<div class='intro'>
	<h1 class='intro__hed tk-canela'>Your headline goes here, even if it is two lines</h1>
	<p class='intro__byline tk-atlas'>By <a href='{{info.author.url}}' target='_blank'><strong>{{info.author.name}}</strong></a></p>
	<p class='intro__dek'>Your dek goes here. It is probably one or two sentences that succinctly describe more explicitly what the story will be about.</p>
</div>
