<div class='intro'>
	<h1 class='intro__hed tk-canela'>{{info.title}}</h1>
	<p class='intro__dek tk-atlas'>{{info.description}}</p>
	<p class='intro__byline tk-atlas'>By <a href='{{info.author.url}}' target='_blank'><strong>{{info.author.name}}</strong></a></p>
</div>
