.intro {
  margin: 0 auto;
  padding: 5rem 1rem;
  background-color: #e2e2e2;
}

.intro__hed {
  max-width: 55rem;
  margin: 0 auto;
  padding-top: 5rem;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
}

.intro__byline {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.intro__dek {
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 5rem;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
}

@media only screen and (min-width: 40em) {
  .intro__hed {
    font-size: 48px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 50em) {
  .intro__hed {
    font-size: 64px;
    line-height: 1.2;
  }
}
